<h2>Ask a question</h2><hr>

<div class="row">
	<div class="col-6 offset-3">
		<%= form_for(@question) do |f| %>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		  <%= f.label :title %><%= f.text_field :title, size: "81", class: "form-control" %><br>
		  <%= f.label :content %><%= f.text_area :content, rows: "10", cols: "80", class: "form-control" %><br>
		  <%= f.submit "Ask question", class: "btn btn-primary" %>
		<% end %>		
	</div>
</div>