<!--
    Description : View file for create
    Copyright (C) 2018 Luis Tan

    This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.

     *CHANGELOG*
     Luis Tan 2/2/18 - Initial Source Code and content. 
     Ivan Balingit 2/9/18 - Fix frontend for this view
     Luis Tan 2/9/18 - Added License
     Ivan Balingit 2/14/18 - Add error messages
     Patricia Cajaljal 2/20/18 - Added frontend

     File created on: 1/26/18
     Developer: Ivan Balingit & Luis Tan
     Client: UP Diliman Students
     IskoExchange is a platform for UP students to ask questions and share insights related to UP
-->

<h3>Ask a Question</h3><hr>
<div class="row">
	<div class="col-6 offset-3">
	    <% if @question.errors.any? %>
			<% @question.errors.messages.each do |err| %>
				<div class="alert alert-danger"><%= err[0].to_s.gsub("_"," ").capitalize %> <%= err[1][0].to_s %>.</div>
			<% end %>
		<% end %>
	    
		<%= form_for(@question) do |f| %>
		  <%= f.hidden_field :user_id, value: current_user.id %>
		  <%= f.label :title %><%= f.text_field :title, size: "81", class: "form-control" %><br>
		  <%= f.label :content %><%= f.text_area :content, rows: "10", cols: "80", class: "form-control" %><br>
		  <%= f.submit "Post Question", class: "btn btn-primary" %>
		<% end %>		
	</div>
    <div class="bg_pic">
    </div>
</div>

<%= stylesheet_link_tag "questions_new", media: "all" %>