<!--
    Description : View file for show
    Copyright (C) 2018  Luis Tan

    This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.

     *CHANGELOG*
     Luis Tan 2/2/18 - Initial Source Code and content. 
     Ivan Balingit 2/9/18 - Fix frontend for this view
     Luis Tan 2/9/18 - Added License
     Ivan Balingit 2/14/18 - Add link to user
     Luis Tan 2/14/18 - Create Answer form
     Ivan Balingit 2/14/18 - Hide answer form when not logged-in
     Luis Tan 2/19/18 - Modified the web page for the input form of Answers
     Ivan Balingit 2/21/18 - Show replies for answers and reply form
     Patricia Cajaljal 2/22/18 - Added frontend for questions
     Patricia Cajaljal 3/5/18 - Edited frontend for threads

     File created on: 1/26/18
     Developer: Ivan Balingit & Luis Tan
     Client: UP Diliman Students
     IskoExchange is a platform for UP students to ask questions and share insights related to UP
-->
<br>
<h2 id="question_title"><%= @question.title %></h2>

<div class="row">
    <div class="col-9">
        <div class="question-content">
          <!--<div class="bs-callout bs-callout-success">-->
          <%= @question.content %><br>
          <i style="color: gray;font-size: 13px; float:right;">Posted <%= @question.created_at %></i>
          <br>
          
        <!--</div>-->
        </div>

    </div>

    <div class="col-3">
          <div class="questioner-profile">
            <div class="row">
              <div class="col-1">
                <% if current_user %>
                  <% if current_user.id == @question.user_id %> 
                    <%= link_to edit_question_path do %>
                      <i class="far fa-edit" ></i>
                    <% end %>
                    <%= link_to question_path, method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class="fas fa-trash-alt" style="color:#b22222; font-size: 18px;"></i>
                    <% end %>
                  <% end %>
                <% end %>
              </div>

              <div class="col-3" >
                <img src="/man_shaggy.png" alt="USER" style="padding: 0px; width:160%;height:110%;">
              </div>

              <div class="col-7">
                <div class="by_string">posted by:</div><%= link_to @question.user.display_name, @question.user %>
              </div>
            </div>

          </div>
      
    </div>
</div>



<br>

<h4>Answers</h4><hr>

<% @question.answers.each do |answer| %>
<div class="answer-container">
  <div class="row">
    <div class="col-9" >
        <div class="answer-content">
          <div class="mb-1" ><%= answer.content %><br><i style="color: gray;font-size: 13px; float: right;">Posted <%= answer.created_at %></i><br></div>
          <hr>
        </div>
    </div>
    
    <div class="col-3" >
        <div class="answerer-profile">
            <div class="row">
              <div class="col-1">
                <!-- Answer is deleteable if it belongs to current user -->
                  <% if current_user %>
                    <% if current_user.id == answer.user_id %> 
                      <%= link_to edit_answer_path(question_id: answer.question,answer_id: answer) do %>
                        <i class="far fa-edit" ></i>
                      <% end %>
                      <%= link_to answer_path(question_id: answer.question,answer_id: answer), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fas fa-trash-alt" style="color:#b22222; font-size: 18px;"></i>
                      <% end %>
                    <% end %>
                  <% end %>
              </div>

              <div class="col-3" >
                <img src="/dog.png" alt="USER" style="padding: 0px; width:160%;height:110%;">
              </div>

              <div class="col-7">
                <div class="by_string">answered by:</div><%= link_to answer.user.display_name, answer.user %>
              </div>
            </div>

        </div>
    </div>
  </div>
</div>
  
  <!-- Replies for the answer -->
  <div>
    <!-- Reply content -->
    <% answer.replies.each do |reply| %>
      <div class="row">
        <div class="col-1"><i class="fas fa-angle-double-right" style="float:right"></i></div>
        <div class="col-8">
                <div class="reply-content">
                    <div class="by_string"> <%= link_to reply.user.display_name, reply.user %> replied:<br></div>
                    <%= reply.content %> 
                    <!--<%= reply.created_at %>-->
                    <!-- Reply is deleteable if it belongs to current user -->
                    <div style="float: right">
                    <% if current_user && reply.user == current_user %>
                      <%= link_to edit_reply_path(reply) do %>
                        <i class="far fa-edit" ></i>
                      <% end %>
                      <%= link_to reply_path(reply), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <i class="fas fa-trash-alt" style="color:#b22222; font-size: 15px;"></i>
                      <% end %>
                    <% end %>
                  </div>
                  <hr>
                </div>
        </div>
        <div class="col-3"></div>
      </div>
    <% end %>
    
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-8">
        <!-- Reply form only available when logged-in -->
          <% if current_user %>
              <%= form_for @reply, html: { class: "form-inline" } do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :answer_id, value: answer.id %>
                <%= f.text_field :content, placeholder: "Reply here", size: "40", class: "form-control mb-2 mr-sm-2" %>
                <%= f.button :submit, class: "btn btn-link", style: "color:green" do %>
                  <i class="fas fa-reply"></i>
                <% end %>
              <% end %>
          <% end %>
    </div>
  </div>

<hr>
<% end %>
<br>


<% if current_user %>
  <%= form_for(@answer) do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :question_id, value:  @question.id %>
    <%= f.label :content  %><%= f.text_area :content, :placeholder => "Answer here" , rows: "7", cols: "80", class: "form-control" %><br>
    <%= f.submit "Submit Answer", class: "btn btn-primary" %>
  <% end %>
<% end %>




<%= stylesheet_link_tag "questions_show", media: "all" %>
