<h1>Login</h1><hr>

<div class="row">
  <div class="col-6 offset-3">
    <% if @notice %>
      <div class="alert alert-danger"><%= @notice %></div>
    <% end %>
    <%= form_for(:session, url: login_path) do |f| %>
    	<%= f.label :email %><%= f.text_field :email, class: "form-control", placeholder: "Email", value: @email || "" %><br>
    	<%= f.label :password %><%= f.password_field :password, class: "form-control", placeholder: "Password" %><br>
    	<%= f.submit "Login", class: "btn btn-primary" %>
    <% end -%>
  </div>
</div>