<!--
    Description: View template for user profile page
    Copyright (C) 2018 Ivan Balingit

    This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.

     *CHANGELOG*
     Ivan Balingit 2/14/18 - Initial Source Code and content. 
     Patricia Cajaljal 3/6/18 - Added frontend for user profile
     File created on: 2/14/18
     Developer: 
     Client: UP Diliman Students
     IskoExchange is a platform for UP students to ask questions and share insights related to UP
-->
<div class="row">
    <div class="col-2">
        <div id="avatar"><img src="/man_shaggy.png" alt="USER" style="width:128px;height:128px;"></div>
    </div>

    <div class="col-8">
        <h2><%= @user.display_name %></h2>
        <div>
            Description: <%= @user.description %>
        </div>

        <% if @user.show_education %>
            <div>
                Education: <%= @user.education_degree %> at <%= @user.education_school %>
            </div>
        <% end %>

        <% if @user.show_employment %>
            <div>
                Employment: <%= @user.employment_position %> at <%= @user.employment_company %>
            </div>
        <% end %>
    </div>

    <div class="col-2">
        <% if @user == current_user %>
            <%= link_to "Edit Profile", edit_user_path(@user), class: "btn btn-primary" %>
        <% end %>
    </div>
</div>


<hr>



<br>

<h3><strong>Questions by <%= @user.display_name %></strong></h3>
<% @user.questions.each do |question| %>
<i class="fas fa-angle-double-right" style="float:left"></i>
    <div class="offset-1">
        <h5 style="color:#000000;">  <%= link_to question.title, question, {:style=>'color:#000000;'} %></h5>
    </div>
<% end %>

<%= stylesheet_link_tag "users", media: "all" %>