<!--
    Description: View template for the application layout
    Copyright (C) 2018 Ivan Balingit

    This is a course requirement for CS 192 Software Engineering II under the supervision of Asst. Prof. Ma. Rowena C. Solamo of the Department of Computer Science, College of Engineering, University of the Philippines, Diliman for the AY 2015-2016
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    You should have received a copy of the GNU General Public License
    along with this program.  If not, see https://www.gnu.org/licenses/.

     *CHANGELOG*
     Ivan Balingit 2/2/18 - Initial Source Code and content. 
     Ivan Balingit 2/9/18 - Added License

     File created on: 1/26/18
     Developer: 
     Client: UP Diliman Students
     IskoExchange is a platform for UP students to ask questions and share insights related to UP
-->

<!DOCTYPE html>
<html>
  <head>
    <title>IskoexchangeApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body class="d-flex flex-column">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
      <div class="container">
        <!-- Navbar brand -->
        <%= link_to image_tag("/logos/iskoexchange_logo.png", id: "iskoexchange-logo"), root_url, class: "navbar-brand" %>

        <!-- Right side -->
        <ul class="navbar-nav ml-auto">
          <!--Questions-->
          <li class="nav-item">
            <%= link_to "Questions", questions_url, style: 'color: #FFFFFF', class: "nav-link" %>
          </li>

          <!-- Ask a Question -->
          <li class="nav-item">
            <%= link_to "Ask a Question", new_question_url, style: 'color: #ED1C24', class: "nav-link" %>
          </li>&nbsp;

          <!-- Search form -->
          <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
          </form>

          <% if current_user %>
            <!-- When logged in -->
            &nbsp;&nbsp;
            <span class="navbar-text text-white">Logged in as: <strong><%= current_user.display_name %></strong>.</span>
            &nbsp;&nbsp;
            <%= link_to "Log Out", logout_url, method: :delete, class: "btn btn-outline-danger" %>
          <% else %>
            <!-- If no one is logged in -->
            &nbsp;
            <li class="nav-item">
              <%= link_to "Log In", login_url, :style=>"float:right", class: "btn btn-outline-secondary" %>
            </li>
            &nbsp;
            <li class="nav-item">
              <%= link_to "Sign Up", signup_url, class: "btn btn-outline-primary"%>
            </li>
          <% end -%>
        </ul> 
      </div>
    </nav>
    
    <!-- Main content -->
    <div class="container flex-grow" id="main-content">
      <br><br><br><br><%= yield %>  
    </div>
    
    <!-- Footer -->
    <footer class="bg-dark text-white mt-4">
        <div class="container py-3">
            <div class="row">
                <div class="col-12">
                  <h5>IskoExchange.</h5>
                </div>
            </div>
        </div>
    </footer>
  </body>
</html>
